{% extends "base.html" %}
{% block  maintitle%}
<h2 class="page-title">制作関係者</h2>

{% endblock  %}
{% block body_main %}
    <div class="">
        <h1></h1>
        <h2></h2>
        <h2></h2>
        <h2></h2>
    </div class="">
    <header class="post-info">
        <div style="text-align: center;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13009.35031231586!2d139.45981807416476!3d35.39688213418259!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sja!2sjp!4v1652996969079!5m2!1sja!2sjp" width="830" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </header>
    <h2>文教大学湘南キャンパス</h2>
    <h2>〒253-8550 神奈川県茅ヶ崎市行谷1100</h2>
    <h2>>0467-53-2111（代）</h2>
{% endblock %}