<!DOCTYPE html>
<html>
<body>
  <form action="" method="post">
    {% csrf_token %}
    <div>
      <label for="name">名前</label>
      <input type="text" id="name" name="name" value="{{ name }}">
    </div>
    <div>
      <label for="searchcount">検索件数</label>
      <input type="text" id="searchcount" name="searchcount" value="{{ searchcount }}">
    </div>
    <p>
    <input type="submit" value="検索する" name="notloop">
    <input type="submit" value="監視する" name="loop">
    </p>
  </form>
  {% comment %} <a href="/loop">loop</a> {% endcomment %}
  <p>{{negapozi}}</p>
  <p>{{message}}<p>
  <p></p>
</body>
</html>