{% extends "base.html" %}
{% block  maintitle%}
<h2 class="page-title">システム内容</h2>
{% endblock  %}
{% block body_main %}
{% load static %}

<h2>はじめに</h2>
<p>今システムはpythonのmecabとfasttextを使用した極性辞書(が完成しなかった場合は日本語評価極性辞書)を使用して、<br>TwitterAPIから引き出したデータを分析、炎上を判定します。</p>
<p>また、webページヘの公開に関してはWebアプリケーションフレームワークのdjangoを使用しています。</p>

<h2>注意書き</h2>
<p>
    このシステムは使用者に対してアカウントの炎上を検知する事を目的としており、<br>
    判定結果を意図的に悪用することは推奨していません。<br>
</p>


<h2>使わせていただいたもの</h2>
<p>
    mecab<br>
    fast text(が完成しなかった場合は日本語評価極性辞書(一応商用利用可))<br>
    TwitterAPI<br>
    Django<br>
</p>

<h2>参考文献</h2>
<p>
    リプライのポジネガ極性を用いたTwitter炎上の分類手法の提案<br>
    渡辺みずほ 佐藤 哲司　筑波大学情報学群 〒 305-8550 茨城県つくば市春日 1-2<br>
    筑波大学図書館情報メディア系 〒 305-8550 茨城県つくば市春日 1-2
</p>
<p>
Twitter における感情分析を用いた炎上の検出と分析<br>
高橋 直樹 檜垣 泰彦 千葉大学工学研究科 〒263-8522 千葉県千葉市稲毛区弥生町 1-33
</p>
{% endblock %}